# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
build/

# IDE/Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite

# OS specific
.DS_Store
Thumbs.db

.env